{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid home-page-container">
  <div class="row">
      <div class="col col-6 home-page-image">
        <img src="/media/images/ntt-logo.png" alt="Nanny Trail Tribe Logo" style="height: auto; width: 50%;">
      </div>
      <div class="col col-6 home-page-writing">
        <div class="container-fluid">
          <h1 class="col align-self-start green-text">Welcome to the home of The Nanny Trail Tribe</h1>
          <p class="col align-self-end green-text">Where you will unlock the steepest, techiest trails in North Wales</p>
          <p class="col align-self-end"><a class="green-text" href="{% url 'trails' %}">See the trails</a></p>
        </div>
    </div>
</div>
{% endblock %}