.home-page-image {
    background: url('/media/images/homepage.jpg') no-repeat center center;
    height: 768px;
    width: auto;
    background-size: cover;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.home-page-writing {
    display: flex;
    justify-content: center !important;
    align-items: center !important;    
}

.home-page-container {
    position: absolute;
}

.jumbotron {
    background-color: #313729;
    color: white;
    border-radius: 40px;
    box-shadow: 8px 7px #40442d;
}

