.home-page-image {
    background: url('https://nant-y-frith-mtb.s3.eu-west-2.amazonaws.com/media/images/homepage-background.JPG') no-repeat center center;
    height: 100vh;
    width: auto;
    background-size: cover;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.home-logo {
    height: auto;
    width: 150%;
}

.home-page-writing {
    display: flex;
    justify-content: center !important;
    align-items: center !important;    
    padding-top: 47px;
}

.home-page-container {
    position: absolute;
}

.jumbotron-fluid {
    background-color: #313729;
    color: white;
    border-radius: 40px;
    box-shadow: 8px 7px #40442d;
    padding: 2rem 1rem;
}


@media only screen and (max-width: 767px) {
    body {
        background: url('https://nant-y-frith-mtb.s3.eu-west-2.amazonaws.com/media/images/homepage-background.JPG') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .home-page-image {
        display: none;
      }
      
    .home-logo {
        display: none;
    }
    
      .home-page-writing {
        color: white;
        border-radius: 10px;
      }
  }