.profile-container {
    display: flex;
    flex-direction: column;
    background-color: #3b3d30;
    align-items: center;
    color: white;
}

.profile-btn {
    margin: 0px 20px 20px 20px;
    background-color: bisque;
    color: black;
}

.badge {
    margin-bottom: 10px;
    padding: 7px; 
}

.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.subscription-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.profile-background {
    background: url('https://nant-y-frith-mtb.s3.eu-west-2.amazonaws.com/media/images/pexels-anastasia-shuraeva-8926704.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.profile-background h1, h4, p {
    color: white;
}