.trail-card-container {
    margin: 10px 20px 0 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.trail-button {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 300px;
    align-content: center;
    flex-wrap: wrap;
    background-color: #3b3d30 !important;
    border: #3b3d30;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.trail-button:hover
.trail-button:active
.trail-button:focus {
    color: white;
    background-color: #232322;
}


.trails-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.trail-button-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.trail-edit {
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: #425446d1;
    border-radius: 10px;
    color: white;
    width: fit-content;
    margin: 20px;
    border: #7B5E4E solid 2px;
}

textarea {
    border-radius: 10px;
    padding: 5px;
    background-color: #e4d9d7;
    height: 100px;
}

.trail-edit-background {
    background: url('https://nant-y-frith-mtb.s3.eu-west-2.amazonaws.com/media/images/pexels-lum3n-44775-167698+(3).jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: black 0px 1px 20px;
}

.feature-image {
    height: 100px;
}