html {
    height: 100%;
}

body {
    background-color: hsl(10, 43%, 79%);
    background-size: cover;
    height: 100vh;
}

.cream-text {
    color: #e1bcb4 !important;
}

.green-text {
    color: #3b3d30 !important; 
}

#header-box {
    float: right;
    z-index: 1;
    position: relative;
}

.green-background {
    background-color: #3b3d30;
}

.nav-link {
    color: #3b3d30;
}


.nav-link:hover {
    color: #797d63;
}

.btn {
    background-color: #3b3d30;
    color: white;
    margin-top: 10px;
    border: 0;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.612);
}

form input {
    background-color: #e4d9d7;
    color: black;
    border: solid 1px #3b3d30;
    border-radius: 5px;
}

.mobile-bars {
    margin-right: 10px;
    margin-top: 0;
}

.dropdown-menu {
    background-color: #3b3d30;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #3b3d30 !important;
    color: rgba(255, 255, 255, 0.612);
}

.dropdown-item:focus {
    background-color: #3b3d30 !important;
}

/* adjusting all containers */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
 
/* trails css can be moved */
.modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.modal-header,
.modal-footer {
    border: none;
}

.close {
    color: #e1bcb4;
}

.close:hover {
    color: #e1bcb4;
}

h3 {
    text-align: center;
}

/* Allauth styling */

.allauth-container {
    display: flex;
    justify-content: center;
}

.allauth-container button {
    background-color: #3b3d30;
    border-radius: 5px;
    color: white;
    font-weight: 100;
}

.allauth-form-inner-content h1 {
    text-align: center;
}

/* Profile and subscription button */

.subscribe-link {
    text-decoration: none;
    color: white;
    background-color: #3b3d30;
    padding: 5px;
    margin-top: 10px;
    width: fit-content;
    border-radius: 5px;
}

.subscribe-link:hover {
    color: black;
    text-decoration: none;
}