html {
    height: 100%;
}

body {
    background-color: hsl(10, 43%, 79%);
    background-size: cover;
    height: 100vh;
}

.cream-text {
    color: #e1bcb4 !important;
}

.green-text {
    color: #3b3d30 !important; 
}

#header-box {
    float: right;
    z-index: 1;
    position: relative;
}

.green-background {
    background-color: #3b3d30;
}

.nav-link {
    color: #3b3d30;
}

.btn {
    background-color: #3b3d30;
    color: white;
    margin-top: 10px;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.612);
}

form input {
    background-color: #3b3d30;
    color: white;
    border: solid #3b3d30;
    border-radius: 5px;
    padding: 5px;
}

.dropdown {
    margin-right: 10px; 
}

.dropdown-menu {
    background-color: #3b3d30;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #3b3d30 !important;
    color: rgba(255, 255, 255, 0.612);
}

.dropdown-item:focus {
    background-color: #3b3d30 !important;
}
 
/* trails css can be moved */
.modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.modal-header,
.modal-footer {
    border: none;
}

.close {
    color: #e1bcb4;
}

.close:hover {
    color: #e1bcb4;
}

h3 {
    text-align: center;
}
