.subscription-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.subscription-container a {
    color: green;
}