{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'trails/css/trails.css' %}"> 
{% endblock %}


{% block content %}
<div class="container trail-edit-background">
    <div class="trail-edit container">
        <h2>Edit Trail: {{ trail.name }}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="save_trail" class="btn">Save Trail Changes</button>
        </form>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Add trail feature images here</p>
            {{ feature_image_formset.management_form }}
            {% for form in feature_image_formset %}
                <div class="feature-image-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
            <button type="submit" class="btn">Save Feature Images</button>
        </form>
        <a href="{% url 'trails' %}" class="btn">Back to the Trails</a>
    </div>
</div>
{% endblock %}