{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock %}


{% block content %}
<h2 class="trails-title">The Trails</h2>
<div class="row row-cols-1 row-cols-md-3 trail-card-container">
  {% for trail in trails %}
    <div class="col mb-4">
      <div class="card h-100 green-background">
        <div class="card-body">
          <h5 class="card-title">{{ trail.name }}</h5>
          {% if user_subscribed %}
            <p class="card-text"><strong>Location:</strong> {{ trail.location }}</p>
          {% else %}
            <div class="card-text">Subscribe to see the trails location!</div>
          {% endif %}
          <p class="card-text"><strong>Difficulty:</strong> {{ trail.difficulty }}</p>
          <p class="card-text">{{ trail.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}