{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'trails/css/trails.css' %}"> 
{% endblock %}


{% block content %}
<h2 class="trails-title green-text">The Trails</h2>
<div class="container">
  <div class="row trail-card-container"> 
      {% for trail in trails %}
    <div class="trail-button-container">
        <!-- Ensure each button's "data-target" and modal's "id" is unique using trail.id -->
        <button type="button" class="trail-button" data-toggle="modal" data-target="#modal{{ trail.id }}" style="background-image: url('{% if trail.background_image %}{{ trail.background_image.url }}{% endif %}'); background-size: cover;">
            {{ trail.name }}
        </button>
        <!-- Modal for each trail -->
        <div class="modal fade" id="modal{{ trail.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle{{ trail.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content green-background">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle{{ trail.id }}">{{ trail.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if user_is_subscribed %}
                            <p><strong>Location:</strong> {{ trail.location }}</p>
                            <p><strong>Difficulty:</strong> {{ trail.difficulty }}</p>
                            <p>{{ trail.description }}</p>
                        {% else %}
                            <p>You must be subscribed to view trail details.</p>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_trail' trail.id %}" class="btn btn-warning">Edit</a>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div> 
  
</div>
{% endblock %}