{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}"> 
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'subscriptions/js/subscription.js' %}"></script>
{% endblock %}
{% block content %}
    <h3>Subscription</h3>
    <div class="container-fluid subscription-container">
        {% if subscription.status == "active" %}
            <h4>Your Subscription:</h4>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        {{ product.description }}
                    </p>
                </div>
            </div>
            <div class="container">
            {% if user.is_authenticated %}
                <form action="{% url 'unsubscribe' %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-danger subscribe-link">Unsubscribe</button>
                </form>
            {% endif %}
        {% else %}
            <h5 class="text-center">Want to unlock the locations and details of the trails? Then subscribe here!</h5>
            <button type="submit" class="btn" id="submitBtn">Subscribe</button>
        {% endif %}
        </div>
    </div>
{% endblock %}