{% extends 'base.html' %}

{% load static %}


{% block extra_js %}
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/subscription.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        {% if subscription.status == "active" %}
            <h4>Your Subscription:</h4>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        {{ product.description }}
                    </p>
                </div>
            </div>
        {% else %}
            <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
        {% endif %}
    </div>
{% endblock %}